body
{
  background-color: #CBE4DE;
}
.bgbtn
{
  background-color: #7C9070;
  color: aliceblue;
  padding: 10px;
}
.btnsubmit
{
  background-color: #7C9070;
}
.btnsubmit:hover
{
  background-color: #7C9070;

}
